*{padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Trirong", serif;
}
body{
    background-color: #DBFFFF;
}
.banner{
    background-image: url('/static/images/banner.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUs{
    margin-top: 30px;
    padding: 30px;
    background-color: #f1f8f8;
}

.btnProject{
    display: flex;
    justify-content: space-between;
    
}

.styleList ul{
    list-style: none;
}

.projectsAvailable{
    margin-top: 20px;
    margin-bottom: 20px;
}
.project{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1rem;
    
}

.card{
    border-radius: 20px;
    
}

.cardProject{
    background-color: #f1f8f8;
}