{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}

<div class="banner">

</div>

<div class="container aboutUs" id="aboutUs">
    <h1 class="text-center">About Us</h1>
    <p>This application allows a user to post a project he/she has created and get it reviewed by his/her peers. A project can be rated based on 3 different criteria:
            <ul>
                <li>Design</li>
                <li>Usability</li>
                <li>Content</li>
            </ul>
    These criteria can be reviewed on a scale of 1-10 and the average score is taken. A user will view posted projects and their details. He or she will also be able to search for projects and view projects overall score. Each user will have a profile since its mandatory to sign in before rating an application.</p>
</div>
<div class="contactUs">
    <h1 class="text-center">Contact Us</h1>
</div>
{%endblock%}