{%extends 'base.html'%}
{%load static%}
{% block content %}
{{block.super}}

<div class="banner">

</div>

<div class="container aboutUs text-center" id="aboutUs">
    <h1 class="text-center">About Us</h1>
    <p>This application allows a user to post a project he/she has created and get it reviewed by his/her peers. A project can be rated based on 3 different criteria: Design, Usability, Content.</p>
    <p>These criteria can be reviewed on a scale of 1-10 and the average score is taken. A user will view posted projects and their details. He or she will also be able to search for projects and view projects overall score. Each user will have a profile since its mandatory to sign in before rating an application.</p>
</div>
<div class="projectsAvailable">
    <h1 class="text-center">Available Projects</h1>
    <div class="row">
        {%for project in projects%}
        <div class="col-md-4 project">
            <div class="card mt-2 cardProject" style="width: 100%;">
                <img src="{{project.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <p class="card-text"><b>Posted on: </b>{{project.date_posted}}</p>
                    <p class="card-text"><b>Contact owner: </b>{{project.user.phone_number}}</p>
                    <div class="styleList">
                        <ul class="btnProject">
                            <li><a href="{{project.project_url}}" class="btn btn-info">Project Link</a></li>
                            <li><a href="#" class="btn btn-info">Project Rating</a></li>
                        </ul>                    
                    </div>
                </div>
            </div>
        </div>
        
        {%endfor%}
    </div>
</div>
{%endblock%}